<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Page Title</title>
</head>
<body>
<header>
  VK Corp
  </header>
  <section>
  <nav>
    <a  routerLink="/login" routerLinkActive="active">Visitor<span class="glyphicon glyphicon-log-in"></span></a>&nbsp;&nbsp;
    <a  routerLink="/home" routerLinkActive="active">Details<span class="glyphicon glyphicon-home"></span></a>&nbsp;&nbsp;
    <a routerLink="/logout" routerLinkActive="active">Check this out<span class="glyphicon glyphicon-log-out"></span></a>
  </nav>
 <div class="main">
   <router-outlet></router-outlet>
  </div>
  <footer>
    All rights resevered and copyrights by VK Corp Ltd.,
  </footer>
  </section>

</body>
</html>
